.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 900px;
  background-color: rgba(208, 101, 130, 0.9);
}

.form__title {
  color: white;
  margin-top: 30px;
  font-size: 30px;
  font-family: inherit;
}

.form__wrapper {
  margin-top: 10px;
  border-radius: 15px;
  padding-top: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
  align-items: center;
  height: 800px;
  width: 50rem;
}
