.lamp-container {
  position: absolute;
  top: 0;
  width: 200px;
  left: 25%;
}
.lamp {
  width: 100%;
}

.light {
  position: absolute;
  top: 96%;
  width: 700px;
  left: 45%;
  transform: translateX(-50%);
  height: 400px;
}
