.text-container {
  max-width: 600px;
  margin-top: 7%;
  margin-left: 50%;
}

.text-container h1 {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
}

.text-container a {
  text-decoration: none;
  background: #d06582;
  padding: 14px 40px;
  display: inline-block;
  color: #fff;
  margin-top: 30px;
  border-radius: 10px;
  animation: pulse 5s infinite;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(#a9bfd3, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(#b5c2ce, 0);
  }
}
