.text-container {
  max-width: 800px;
  margin-top: 14%;
  margin-left: 50%;
  width: 500px;
}

.text-container h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.text-container a {
  text-decoration: none;
  background: radial-gradient(#d06582, #fa99b2);
  padding: 14px 40px;
  display: inline-block;
  color: #fff;
  margin-top: 30px;
  border-radius: 10px;
  animation: pulse 5s infinite;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(#a9bfd3, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(#b5c2ce, 0);
  }
}

@media only screen and (max-width: 768px) {
  .text-container {
    max-width: 600px;
    margin-top: 600px;
    margin-left: 10%;
    text-align: center;
    text-indent: 0px;
  }

  .text-container h1 {
    text-indent: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .text-container {
    max-width: 300px;
    margin-top: 700px;
    text-align: left;
  }

  .text-container h1 {
    text-indent: 0px;
  }
}
