.deck {
  background-image: url("../../images/slash.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10rem;
  margin-left: 8rem;
}

@media only screen and (max-width: 768px) {
  .deck {
    margin-left: 0;
    padding: 10rem;
  }
}

@media only screen and (max-width: 600px) {
  .deck {
    margin-left: 0;
  }
}
