.form__group {
  padding: 60px;
}

.form__question {
  width: 35rem;
  padding: 2vw;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 30px;
  position: relative;
  border-bottom: 1px solid #ddd;
}
.form__input {
  width: 100%;
  padding: 15px 15px;
  margin-top: 20px;
  border: none;
  outline: none;
  background-color: #ebedf0;
  font-size: 15px;
}

.form__floating_label {
  position: absolute;
  top: 0;
  left: 15px;
  transform: translateY(30px);
  font-size: 15px;
  transition-duration: 300ms;
}

.form__input::placeholder {
  opacity: 0;
}

label:focus-within > .form__floating_label,
.form__input:not(:placeholder-shown) + .form__floating_label {
  color: #9500ae;
  transform: translateY(0px);
}

.form__button {
  border-radius: 30px;
  color: white;
  padding: 10px;
  width: 100px;
  height: 40px;
  align-self: flex-end;
  background-color: #273437;
}

.form__button:active {
  background-color: #90afb6;
}
.form__button:hover {
  background-color: #9fb4b9;
}

.form_button_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.form__buttonTwo {
  border-radius: 30px;
  color: white;
  padding: 10px;
  width: 100px;
  height: 40px;
  background-color: #273437;
}

.form__error {
  color: #ef5350;
  margin-right: 200px;
  margin-bottom: 30px;
  font-size: 15px;
  position: relative;
  margin-top: -15px;
}

.form__submit-message {
  padding: 10px;
  background: rgb(67, 170, 139);
  color: white;
  width: 500px;
  margin: 10px 0 50px 0px;
}

.form__buttonThree {
  border-radius: 10px;
  color: white;
  padding: 20px;
  width: 100px;
  height: 60px;
  float: right;
  background-color: #273437;
}

.form_submit-error {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
}

.form_submit-error > img {
  width: 50px;
}

.form_submit-error > p {
  margin-top: 20px;
  color: lightcoral;
}
