.footer__distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 #273437;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer__distributed .footer__left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer__distributed .footer__right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer__distributed .footer__right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #273437;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer__distributed .footer__right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

@media (max-width: 600px) {
  .footer__distributed .footer__left,
  .footer__distributed .footer__right {
    text-align: center;
  }
  .footer__distributed .footer__right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer__distributed .footer__left p.footer__links {
    line-height: 1.8;
  }
}
