.hero {
  min-height: 120vh;
  width: 100%;
  color: #fff;
  position: relative;
  background: linear-gradient(to left top, #2a4c54, #273437);
}

@media only screen and (max-width: 768px) {
  .hero {
    min-height: 200vh;
  }
}
